@import "vendor/bootstrap/bootstrap-grid.min.css";
.ny_header {
  padding-top: 30px;
  height: 100vh;
  background-image: url("../assets/mountain.png");
  background-size: cover;
  position: relative;
}
.ny_header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.ny_header nav span {
  font-size: 12px;
  text-transform: uppercase;
}
.ny_header .ny_header-logo img {
  width: 100px;
}
.ny_header .ny_header-text {
  position: absolute;
  bottom: 15%;
}
.ny_header .ny_header-text h1 {
  word-spacing: 1000px;
  line-height: 1.2em;
  font-size: 2em;
  margin-bottom: 0;
}
.ny_header .ny_header-text p {
  color: #4D9391;
  font-size: 1.1em;
}

@media (min-width: 768px) {
  .ny_header .ny_header-logo img {
    width: 140px;
  }
}
@media (min-width: 768px) {
  .ny_header .ny_header-text {
    width: 70%;
  }
  .ny_header .ny_header-text p {
    line-height: 1.5em;
  }
}
@media (min-width: 992px) {
  .ny_header .ny_header-text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .ny_header .ny_header-text {
    width: 30%;
  }
}
.ny_body {
  background-image: linear-gradient(to right, #C0DADB, #D1E4E5, #FFFFFF);
  padding-bottom: 30px;
}
.ny_body .ny_headline {
  color: #4D9391;
  font-size: 16px;
  font-weight: 300;
}
.ny_body#imprint {
  padding-top: 150px;
}

#ny-divider-1 {
  padding-left: 40px;
}
#ny-divider-1 > svg {
  width: 40%;
  height: auto;
}

#ny-divider-2 {
  text-align: center;
}
#ny-divider-2 svg {
  width: 70%;
}

#ny-divider-3 {
  text-align: center;
}
#ny-divider-3 svg {
  width: 70%;
}

#ny-divider-4 {
  text-align: center;
}
#ny-divider-4 svg {
  width: 70%;
}

@media (min-width: 576px) {
  #ny-divider-2 {
    margin: 4em 0 1em 0;
  }

  #ny-divider-3 {
    margin-top: -1em;
  }
}
@media (min-width: 768px) {
  #ny-divider-2 {
    margin: -1em 0 1em 0;
  }
}
@media (max-width: 768px) {
  .ny-divider svg line {
    stroke-width: 4;
  }
}
@media (min-width: 992px) {
  #ny-divider-1 {
    margin-bottom: 4em;
  }

  #ny-divider-2 {
    margin: 5em 4em 4em;
  }
  #ny-divider-2 svg {
    width: 80%;
    height: 130px;
  }

  #ny-divider-3 {
    margin-top: 4em;
    padding-bottom: 4em;
  }
  #ny-divider-3 svg {
    width: 80%;
    height: 100px;
  }

  #ny-divider-4 {
    margin-top: 6em;
    padding-bottom: 5em;
  }
  #ny-divider-4 svg {
    height: 130px;
  }
}
.ny-m1 p {
  font-weight: 600;
  line-height: 1.6em;
}
.ny-m1 .ny-m1-text {
  margin-top: 20px;
  margin-bottom: 40px;
}
.ny-m1 .ny-m1-supporter_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ny-m1 .ny-m1-supporter_wrapper .ny-m1-supporter {
  text-align: center;
  width: 80%;
}
.ny-m1 .ny-m1-supporter_wrapper .ny-m1-supporter img {
  width: 100%;
}

@media (min-width: 576px) {
  .ny-m1 .ny-m1-supporter_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ny-m1 .ny-m1-supporter_wrapper .ny-m1-supporter {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .ny-m1 .ny-m1-supporter_wrapper .ny-m1-supporter {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .ny-m1 .ny-m1-text p {
    font-size: 1.5em;
    line-height: 1.8em;
  }
  .ny-m1 .ny-m1-supporter_wrapper .ny-m1-supporter {
    padding-top: 20px;
  }
}
.ny-m2 {
  justify-content: center;
}
.ny-m2 .ny-m2-partner h3 {
  border-bottom: 1px solid #4D9391;
  padding-bottom: 15px;
  font-size: 14px;
}
.ny-m2 .ny-m2-partner p {
  font-size: 12px;
  line-height: 2em;
}
.ny-m2 .ny-m2-partner .ny-m2-partner_info {
  text-align: center;
  margin-top: 40px;
}
.ny-m2 .ny-m2-partner .ny-m2-partner_info a {
  border: 1px solid #4D9391;
  border-radius: 15px;
  padding: 5px;
  color: #4D9391;
}
.ny-m2 .flickity-button {
  display: none !important;
}
.ny-m2 .flickity-button:focus {
  box-shadow: none;
}
.ny-m2 button.flickity-button.flickity-prev-next-button {
  background-size: contain;
}
.ny-m2 button.flickity-button.flickity-prev-next-button.previous {
  background-image: url("../assets/carousel-buttons/button-previous.svg");
  left: -5px;
}
.ny-m2 button.flickity-button.flickity-prev-next-button.next {
  background-image: url("../assets/carousel-buttons/button-next.svg");
  right: -5px;
}
.ny-m2 button.flickity-button.flickity-prev-next-button svg {
  display: none !important;
}

@media (max-width: 576px) {
  .ny-m2 .ny-m2-partner {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .ny-m2 .ny-m2-partner p {
    margin-bottom: 0;
  }
  .ny-m2 .flickity-page-dots {
    bottom: -25px;
  }
}
@media (min-width: 768px) {
  .ny-m2 .ny-m2-partner {
    box-sizing: border-box;
    padding: 0 40px;
  }
  .ny-m2 .flickity-page-dots {
    display: none;
  }
  .ny-m2 .flickity-button {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .ny-m2 .ny-carousel-wrapper {
    width: 90%;
  }
  .ny-m2 .ny-m2-partner {
    box-sizing: border-box;
    padding: 0 30px;
  }
  .ny-m2 button.flickity-button.flickity-prev-next-button.previous {
    background-image: url("../assets/carousel-buttons/button-previous.svg");
    left: -20px;
  }
  .ny-m2 button.flickity-button.flickity-prev-next-button.next {
    right: -20px;
  }
}
.ny-m3 .ny-m3-qa {
  margin-bottom: 40px;
}
.ny-m3 .ny-m3-qa h3 {
  border-bottom: 2px solid #4D9391;
  padding-bottom: 15px;
  font-size: 14px;
}
.ny-m3 .ny-m3-qa p {
  font-size: 12px;
  line-height: 2em;
}
.ny-m3 .ny-m3-qa .ny-m3-qa_info {
  text-align: center;
  margin-top: 20px;
}
.ny-m3 .ny-m3-qa .ny-m3-qa_info a {
  border: 1px solid #4D9391;
  border-radius: 10px;
  padding: 7px 14px;
  color: #4D9391;
  font-size: 0.9em;
}
.ny-m3 .ny-m3-qa .ny-m3-qa_info a:hover {
  background-color: #4D9391;
  color: #fff;
}
.ny-m3 .ny-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.ny-m3 .ny-modal-content {
  position: relative;
  background-color: #EAF3F3;
  margin: auto;
  border: 1px solid #888;
  width: 90vw;
  min-height: 90vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 2em;
}
.ny-m3 .ny-modal-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../assets/modal-background/ny-modal-bottom-left.svg"), url("../assets/modal-background/ny-modal-top-right.svg");
  background-position: center;
}
.ny-m3 .ny-modal-content:after {
  border-bottom: 1px solid #4D9391;
  width: 80%;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 3em;
}
.ny-m3 .ny-modal-content h3 {
  font-size: 1.2em;
  border: none;
  padding-bottom: 0;
}
.ny-m3 .ny-modal-content p {
  margin-bottom: 40px;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .ny-m3 .ny-modal-content {
    min-height: auto;
  }
}
@media (min-width: 768px) {
  .ny-m3 .ny-m3_wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .ny-m3 .ny-modal-content {
    max-width: 960px;
  }
  .ny-m3 .ny-modal-content:after {
    position: sticky;
  }
}
.ny-m4 .ny-m4-profile {
  margin-top: 15px;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_image-wrapper {
  display: flex;
  align-items: center;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_image-wrapper .ny-m4-profile_image {
  height: 100px;
  margin: 0 15px;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_image-wrapper .ny-m4-profile_image img {
  height: 100%;
  border-radius: 50%;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_image-wrapper .ny-m4-profile_name * {
  margin: 0;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_text {
  margin-top: 20px;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_text ul {
  margin: 0;
  list-style-type: none;
  padding-left: 60px;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_text ul > li {
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.ny-m4 .ny-m4-profile .ny-m4-profile_text ul > li:before {
  content: "-";
  text-indent: -15px;
  position: absolute;
}

@media (min-width: 576px) {
  .ny-m4 .ny-m4-profile .ny-m4-profile_text ul {
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .ny-m4 .ny-m4-profile .ny-m4-profile_image-wrapper .ny-m4-profile_name h3 {
    font-size: 1.2em;
  }
  .ny-m4 .ny-m4-profile .ny-m4-profile_text ul {
    padding-left: 0;
  }
  .ny-m4 .ny-m4-profile .ny-m4-profile_text ul li {
    font-size: 14px;
    line-height: 1.4em;
  }
}
.ny-m5 h2 {
  color: #4D9391;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.ny-m5 p {
  font-weight: bold;
  text-align: center;
}
.ny-m5 .ny-m5-newsletter_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter {
  background: #fff;
  display: flex;
  height: 100px;
  align-items: center;
  border-radius: 15px;
  width: 95%;
  justify-content: center;
  padding: 0 10px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter * {
  margin: 5px;
  font-size: 12px;
  height: 2em;
  border: none;
  border-radius: 10px;
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter label {
  display: none;
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter input {
  background-color: #F7F7F7;
  width: 100%;
  padding-left: 10px;
  outline-color: #4D9391;
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter button {
  border-radius: 10px;
  color: #fff;
  background-color: #4D9391;
  padding: 0 25px;
}
.ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter p {
  display: none;
  height: 1em;
}
.ny-m5 .ny_footer-logo {
  height: 50px;
  text-align: center;
}
.ny-m5 .ny_footer-logo img {
  height: 100%;
}

@media (min-width: 576px) {
  .ny-m5 {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .ny-m5 h2 {
    font-size: 24px;
  }
  .ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter {
    width: 55%;
    height: 120px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .ny-m5 .ny-m5-newsletter_wrapper .ny-m5-newsletter * {
    font-size: 16px;
  }
  .ny-m5 .ny_footer-logo {
    height: 70px;
    margin: 1em 0;
  }
}
footer {
  border-top: 1px solid #4D9391;
  padding-top: 20px;
  font-size: 12px;
}
footer a {
  cursor: pointer;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #32565E;
  text-decoration: none;
}

@media (min-width: 576px) {
  footer.ny-footer {
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  footer.ny-footer {
    margin-left: auto;
    width: 90%;
  }
  footer.ny-footer div:nth-child(2) {
    text-align: center;
  }
  footer.ny-footer div:last-child {
    display: flex;
    justify-content: space-around;
  }
}
html * {
  box-sizing: border-box;
}
html body {
  font-family: Arial, "Kumbh Sans", sans-serif;
  color: #32565E;
  margin: 0;
  max-width: 100%;
}
html body section {
  box-sizing: border-box;
}
html body a:link,
html body a:visited,
html body a:hover,
html body a:active {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
